<%= form_tag(params, method: :get, class: 'form navbar-form navbar-left') do %>
<%= hidden_field_tag(:filter, params[:filter]) %>
<%= hidden_field_tag(:sort_by, params[:sort_by]) %>

<div class="col-lg-3">
  <div class="form-group">
    <%= render 'key_filter' %>
  </div>
</div>
<div class="col-lg-3">
  <div class="form-group">
    <%= render 'text_filter' %>
  </div>
</div>
<div class="col-lg-3">
  <div class="form-group">
    <%= render 'translate_text_filter' %>
  </div>
</div>

<div class="form-group">
  <%= submit_tag "Search", class: 'btn' %>
  <%= sanitize link_to "clear", params.merge({text_pattern: nil, translated_text_pattern: nil, key_pattern: nil}), class: 'btn' %>
  <%= link_to "Reload messages", translate_reload_path, class: 'btn' %>
</div>
<% end %>
