<%
show_filters = ["all", "untranslated", "translated"]
show_filters << "changed" if @from_locale != @to_locale
%>

<fieldset>
  <legend>Filter</legend>
  <div class="form-group">
    <label class="control-label">Show:</label>
    <div class="row">
      <%=  raw simple_filter(show_filters) %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Sort by:</label>
    <div class="row">
      <%= raw simple_filter(["key", "text"], 'sort_by') %>
    </div>
  </div>

  <%= form_tag(params, method: :get, class: 'form') do %>
  <div class="form-group">
    <%= hidden_field_tag(:filter, params[:filter]) %>
    <%= hidden_field_tag(:sort_by, params[:sort_by]) %>
    <label for='languages' class="control-label">Translate from</label>
    <div class="input-group">
      <%= select_tag(:from_locale, options_for_select(from_locales, @from_locale.to_sym), {class: "form-control"}) %>
      <span class="input-group-addon">to</span>
      <%= select_tag(:to_locale, options_for_select(to_locales, @to_locale.to_sym), {class: "form-control"}) %>
    </div>
    <%= submit_tag "Display", {class: 'btn'} %>
  </div>

  <div class="form-group">
    <%= render 'key_filter' %>
  </div>
  <div class="form-group">
    <%= render 'text_filter' %>
  </div>
  <div class="form-group">
    <%= render 'translate_text_filter' %>
  </div>
  <div class="form-group">
    <%= submit_tag "Search" %>
    <%= link_to "clear", params.merge({text_pattern: nil, translated_text_pattern: nil, key_pattern: nil}) %>
  </div>
  <% end %>
  <div class="hits">
    Found
    <strong><%= @total_entries %></strong>
    messages
  </div>
  <div>
    <%= link_to "Reload messages", translate_reload_path %>
  </div>
</fieldset>
