<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= @page_title %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="<%= is_active?(translate_list_path) %>">
          <%= link_to "All", translate_list_path %>
        </li>
        <li class="<%= is_active?(translated_path) %>">
          <%= link_to "Translated", translated_path %>
        </li>
        <li class="<%= is_active?(untranslated_path) %>">
          <%= link_to "Untranslated", untranslated_path %>
        </li>
        <li class="<%= is_active?(changed_path) %>">
          <%= link_to "Changed", changed_path %>
        </li>
        <li class="divider-vertical">
          <p class="navbar-btn">
            Sort by:
            <%= raw sort_by_filter(["key", "text"], 'sort_by') %>
          </p>
        </li>
        <li>
          <div class="navbar-text">
            Found
            <strong><%= @total_entries %></strong>
            translations of
            <strong><%= @all_entries_size %></strong>
          </div>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form form-inline">
            <div class="input-group">
              <span class="input-group-addon">Translate from</span>
              <%= select_tag(:from_locale, options_for_select(from_locales, @from_locale.to_sym), {class: "form-control"}) %>
              <span class="input-group-addon">to</span>
              <%= select_tag(:to_locale, options_for_select(to_locales, @to_locale.to_sym), {class: "form-control"}) %>
            </div>
            <%= submit_tag "Display", {class: 'btn'} %>
          </form>
        </li>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
